alias ..="cd .."
alias ...="cd ../.."
alias ll="ls -lah"
alias grep="grep --color=auto"
alias gs="git status"
alias ga="git add"
alias gc="git commit -m"
alias gp="git push"

alias doc="cd ~/Documents"
alias dev="cd ~/Documents/dev"

alias zshrc='nvim ~/Documents/dev/dotfiles/.zshrc'
alias sou='source ~/.zshrc'
